body{
  background: #9398ff;
}
.container-right{
  height: 100%;
  padding: 0 0 0 15%;
  background: -webkit-linear-gradient(#9398ff,#6c72e5,#6065cc,#6c72e5,#9398ff);
  background: -moz-linear-gradient(#9398ff,#6c72e5,#6065cc,#6c72e5,#9398ff);
  background: linear-gradient(#9398ff,#6c72e5,#6065cc,#6c72e5,#9398ff);
}
div{
  display: inline;
}
input,select{
  border:0;
  padding: 5 0 5 10;
  border-radius: 10px;
  width: 50%;
  height: 30px;
  margin: 15px 15px 15px 0px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}
input:hover,select:hover{
  background-color: #dbdbdb;
  color: #000;
  transition: 0.4s;
}

#error1{
  display: none;
  padding:20 20 0 20;
}

#error2{
  display:block;
  padding:20 0 20 0;
}

.button:hover{
  background: rgba(0, 0, 0, 0.5);
  color:white;
  transition: 0.4s;
}

.button:focus{
  background: #fff;
  color:#000;
  transition: 0.1s;
}

.editions{
  position: absolute;
  left: 340px;
  top: 213.96px;
  width: 642px;
  height: 20px;
  border: 1px solid rgb(0,0,0);
  pointer-events: none;
  display: none;
}

.editons2{
  position: absolute;
  left: 343px;
  top: 216.96px;
  width: 638px;
  height: 16px;
  background-color: rgb(0,0,0);
  pointer-events: none;
  display: none;
  background-position: initial initial;
  background-repeat: initial initial;
}

.editions3{
  position: absolute;
  left: 340px;
  top: 197.96px;
  width: 642px;
  height: 14px;
  font-weight: bold;
  font-style: normal;
  font-variant: normal;
  font-size: 14px;
  line-height: normal;
  font-family: 'Courier New';
  color: rgb(0,0,0);
  pointer-events: none;
  display: none;
}

a{
  margin-top: 15px;
  text-decoration: none;
  font-family: sans-serif;
}

.fb{
  color:#357ebd;
}

.insta{
  position: relative;
  color:#dd5aa9;
}

a:hover{
  color:#dbdbdb;
  transition: 0.4s;
}

a:focus{
  text-decoration: underline;
}

.fa {
    padding: 0px 5px 0px 0px;
    font-size: 20px;
    width: 30px;
    text-align: center;
    text-decoration: none;
}
.fa-facebook {
    background: rgba(255,255,255,0);
    color: white;
}
.fa-facebook:hover{
  color:#357ebd;
}
.fa-instagram {
    background:rgba(255,255,255,0);
    color:white;
}

.fa-instagram:hover{
  color:#dd5aa9;
}

.container-right{
  float: right;
  display:inline;
  width:40%;
  align: left;
  margin-top:7%;
}

.cvdiv{
  width: 40%;
  margin: 0% 2% 0 0;
  position: relative;
  font-size: 9pt;
  color: #777;
}

.cvcv{
  margin-top:0%;
}

.heading{
  font-size:30px;
}

nav{
  display:none;
  background-color: rgba(255,255,255,0.7);
  z-index:100;
  position: sticky;
  top:0;
  padding:2%;
}
td{
  padding-right: 10px;
}

.heading1{
  display: none;
  font-size: 20px;
}
@media(max-width:1643px) {
  .cvcv{
    margin-top: 0%;
  }
  .heading{
    font-size:20px;
    padding-right: 5px;
  }
  .container-right{
    padding-top:6%;
  }
}

@media(max-width:930px){
  input,select{
    width:80%;
  }
  .container-right{
    padding-left: 9%;
  }
  .cvcv{
    margin-top: 2%;
  }
}

@media(max-width:830px){
  .heading{
    font-size: 15px;
  }
}

@media(max-width:780px){
  .container-right{
    width:35%;
  }
  .cvdiv{
    width:50%;
    margin:0;
  }
  input,select{
    font-size:10px;
    height: 25px;
  }
  body{
    font-size:13px;
  }
  .heading{
    font-size: 14px;
  }
  .cvcv{
    margin-top:0px;
  }
}

@media(max-width:720px){
  .container-right{
    padding-left: 5%;
    width:40%;
  }
  .cvcv{
    margin-top: 5%;
  }
}

@media(max-width:600px){
  .cvcv{
    margin-top: 7%;
  }
}

@media(max-width:500px){
  .cvdiv{
    width: 100%;
  }
  .cvcv{
    margin:0;
  }
  .container-right{
    float: none;
    width:95%;
    display: block;
    align-content: center;
  }
  input,select{
    width:92%;
  }
  nav{
    display:block;
  }
  a{
    color:#111111;
  }
  a:hover{
    color:#6065cc;
  }
  .heading1{
    font-size: 17px;
    display: block;
    padding-top:25px;
    text-align: center;
  }
  #error1{
    display:block;
  }
  #error2{
    display:none;
  }
}
